@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

$font-family-sans-serif: "Roboto";
$font-family-monospace: "Roboto Mono";
$enable-shadows: true;

$theme-colors: (
  "primary": #e3f2fd,
  "primary-light": #f5f9fc,
  "primary-dark": #b1bfca,
  "secondary": #81c784,
  "secondary-light": #b2fab4,
  "secondary-dark": #519657,
  "language": #b7ebd7,
  "tool": #f0ebaf,
  "os": #a1c3f5
);

$sizes: (
  0: 0,
  20: 20%
);

@import "../../node_modules/bootstrap/scss/bootstrap";

html,
body {
  @extend .minh-100;
  scroll-behavior: smooth;
  scroll-snap-align: center, center;
}

section {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .flex-column;
}

article {
  @extend .mt-3;
  @extend .col-md-8;
}

article > h3 {
  @extend .m-0;
}

.minh-100 {
  min-height: 100vh;
}

.minh-50 {
  min-height: 50vh;
}

.minh-25 {
  min-height: 30vh;
}

.skill-group-separator {
  @extend .mx-2;
}

.small-paragraphs p {
  @extend .mb-0;
}

.large-paragraph-content p {
  font-size: large;
}
